
      {{ range .Site.Params.publications.sections }}
        {{ if .title }}
        <div class="row">
          <div class="col-md-12 mb-5">
            <h2>{{ .title }}</h2>
            <hr>
          </div>
        </div><!-- /.row -->
        {{ end }}

        {{ range .items }}
            <p><b>{{ .title }}</b><br>
            <i>{{ .authors }}</i><br>
            <b>{{ if .venue_link }}<a href="{{ .venue_link}}">{{ .venue }}</a>{{ else }}{{ .venue }}{{ end }}</b><br>

            {{ if .bibtex }}
            [<a href="{{ .bibtex }}">BibTeX</a>]
            {{ end }}

            {{ if .ieee }}
            [<a href="{{ .ieee }}">IEEEXplore</a>]
            {{ end }}

            {{ if .pdf }}
            [<a href="{{ .pdf }}">PDF</a>]
            {{ end }}

            {{ if .note }}
            <b>{{ .note }}</b>
            {{ end }}
        {{ end }}
      {{ end }}
