<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

  <head>

    {{ partial "head.html" . }}

  </head>

  <body>

    {{ partial "navbar.html" . }}

    {{ partial "header.html" . }}

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-md-8 mb-5">
          <h2>{{ i18n "about" }}</h2>
          <hr>
          {{ .Content }}
          <!-- <a class="btn btn-primary btn-lg" href="{{ .Site.Params.summary.url }}">{{ i18n "more" }} &raquo;</a> -->
        </div>

        <div class="col-md-4 mb-5">
          <h2>{{ i18n "contact" }}</h2>
          <hr>
          {{ with .Site.Params.summary.contact }}
          <address>
            <strong>{{ .name }}</strong>
            <br>{{ .address1 }}
            <br>{{ .address2 }}
            <br>{{ .address3 }}
            <br>
          </address>
          <address>
            Email: {{ .email }}
          </address>
          {{ end }}
        </div>

      </div><!-- /.row -->

      {{ partial "projects.html" . }}

    </div><!-- /.container -->

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>

</html>
