<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

  <head>

    {{ partial "head.html" . }}

  </head>

  <body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div class="container p-4">

    <h1>{{ .Title }}</h1>
    <hr>
    
    {{ .Content }}

    <ul>
    {{ range .Pages }}
        <li style="margin:10px"><b><a href="{{ .Permalink }}">{{ .Title }}</a></b><br>
        <em><a href="{{ .Params.funder_link }}">{{ .Params.funder }}</a></em><br>
        {{ .Params.summary }}
        </li>
    {{ end }}
    </ul>

    </div><!-- /.container -->

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>

</html>
