<!DOCTYPE html>

<html lang="{{ .Site.LanguageCode }}">

  <head>

    {{ partial "head.html" . }}

  </head>

  <body>

    {{ partial "navbar.html" . }}

    <!-- Page Content -->
    <div class="container p-4">

    <h1>{{ .Title }}</h1>
    <hr>

      {{ range .Params.publist.sections }}

        {{ range .items }}
            <p><b>{{ .title }}</b><br>
            <i>{{ .authors }}</i><br>
            <b>{{ if .venue_link }}<a href="{{ .venue_link}}">{{ .venue }}</a>
               {{ else }}{{ .venue }}{{ end }} 

               {{ if .venue_year_link }}(<a href="{{ .venue_year_link }}">{{ .venue_abbrev }} {{ dateFormat "2006" .date }}</a>)
               {{ else }}({{ .venue_abbrev }} {{ dateFormat "2006" .date }}){{ end }}</b><br>

            {{ if .bibtex }}
            [<a href="{{ .bibtex }}">BibTeX</a>]
            {{ end }}

            {{ if .ieee }}
            [<a href="{{ .ieee }}">IEEEXplore</a>]
            {{ end }}

            {{ if .pdf }}
            [<a href="{{ .pdf }}">PDF</a>]
            {{ end }}

            {{ if .note }}
            <b>{{ .note }}</b>
            {{ end }}
        {{ end }}
      {{ end }}

      <p><br>
      {{ .Content }}

    </div><!-- /.container -->

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}

  </body>

</html>
